<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.metanet.metakurly.mapper.PaymentMapper">

	<insert id="createPayment">
		insert into payment values(payment_seq.nextval, #{o_id}, (
			select m_id from orders where o_id = #{o_id}
		), #{method}, #{payment_amount})
		<selectKey keyProperty="o_id" order="BEFORE" resultType="long">
			select orders_seq.currval from dual
		</selectKey>
	</insert>
	
	<select id="getPayment" resultType="com.metanet.metakurly.domain.PaymentDTO">
		select * from payment where o_id = #{o_id}
	</select>

</mapper>