<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metanet.metakurly.mapper.ReviewMapper">

   <!-- 내가 작성한 리뷰 가져오기 -->
   <select id="getMyReviewList"
      resultType="com.metanet.metakurly.domain.ReviewDTO">

   <![CDATA[
        select * from review where m_id = #{m_id}
     ]]>

   </select>
   
   
   <!-- 특정 상품에 해당하는 리뷰 리스트 가져오기 -->
   <select id="getProductReviewList"
      resultMap="productMap">
      select r.r_id as r_id,
      		 r.m_id as m_id,
      		 r.review_date as review_date,
      		 r.contents as contents,
      		 r.p_id as p_id,
      		 p.price as price,
      		 p.name as name 
      from review r, product p
      where r.p_id = p.p_id
      and r.p_id = #{p_id}
   </select>
   
   <resultMap type="com.metanet.metakurly.domain.ProductDTO" id="productMap">
       <id property="p_id" column="p_id"/>
       <result property="price" column="price"/>
       <result property="name" column="name"/>
       <collection property="reviewList" resultMap="reviewMap">
	 	</collection>
   </resultMap>
   
   <resultMap type="com.metanet.metakurly.domain.ReviewDTO" id="reviewMap">
   		<result property="r_id" column="r_id"/>
   		<result property="review_date" column="review_date"/>
   		<result property="contents" column="contents"/>
 		<result property="m_id" column="m_id"/>
 		<result property="p_id" column="p_id"/>
	</resultMap>
  

   <!-- 내가 구매한 상품 리뷰 작성하기 -->
   <insert id="registerReview">
      insert into review 
      values (review_seq.nextval, #{m_id}, sysDate, #{contents}, #{p_id})
   </insert>


   <!-- 내가 구매한 상품 리뷰 수정하기 -->
   <update id="updateReview">
      update review
      set contents = #{contents},
      m_id = #{m_id},
      p_id = #{p_id},
      review_date = sysDate
      where m_id = #{m_id}
      and r_id = #{r_id}
      and p_id = #{p_id}
   </update>
   
   
   <!-- 내가 구매해서 작성한 리뷰 삭제하기 -->
   <delete id="deleteReview">
        delete from review 
        where m_id = #{m_id}
        and r_id = #{r_id}
        and p_id = #{p_id}
    </delete>

</mapper>